html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	color:#555;
	letter-spacing:0.1em;
	font-weight:600;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
	display:block;
	width:950px;
	height:85px;
	margin:0px auto 0px;
	padding:0px;
	background-color:#fff;
	background-image: url('../images/logo.png');
	background-repeat:no-repeat;
	background-position:10px 13px;
	overflow:hidden;
}

ul#menu {
	padding: 56px 0 15px 0;
	white-space: nowrap;
	text-align:right;
	text-transform: uppercase;
	margin:0;
}

#menu li {
	display:inline-block;
	text-align:right;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
	list-style-type: none;
}

#menu a	{
	color:#555;
	margin:0;
	padding:0;
}

#menu a:link, #menu a:visited {
	color: #555;
	font-weight:800;
	letter-spacing:0px;
	padding:100px 10px 15px 10px;
	text-decoration: none;
}

#menu a#home_link:hover	{ color: #fff;background-color: #fc6821;text-decoration: none;margin:0;} /*orange*/
#menu a#about_link:hover		{ color: #fff;background-color: #fc3835;text-decoration: none;margin:0;} /*red*/
#menu a#cupcakes_link:hover		{ color: #fff;background-color: #cf2713;text-decoration: none;margin:0;} /*pink*/
#menu a#gallery_link:hover		{ color: #fff;background-color: #5b41aa;text-decoration: none;margin:0;} /*red*/
#menu a#blog_link:hover			{ color: #fff;background-color: #27127d;text-decoration: none;margin:0;} /*brown*/
#menu a#contact_link:hover		{ color: #fff;background-color: #222;text-decoration: none;margin:0;} /*blue*/

#menu a#press_link:hover		{ color: #fff;background-color: #ed96bf;text-decoration: none;margin:0;} /*pink*/


#menu a#home_link				{text-decoration: none;} /*orange - color: #f63;*/
#menu a#about_link				{text-decoration: none;} /*red - color: #cc0033;*/
#menu a#cupcakes_link 			{text-decoration: none;} /*white - color: #ed96bf;*/
#menu a#gallery_link			{text-decoration: none;} /*red - color: #cc0033;*/
#menu a#blog_link 				{text-decoration: none;} /*brown - color: #371d1c;*/
#menu a#contact_link			{text-decoration: none;} /*blue - color: #333399;*/

#menu a#press_link				{text-decoration: none;} /*pink - color: #ed96bf;*/

/* End Menu */



#container {
	position:relative;
	display:block;
	width:950px;
	min-height:500px;
	margin:0 auto 15px;
	padding:0px;
	overflow:hidden;
	border:1px solid #999;
}

#mainbody h1 {
	position:absolute;
	left:10px;
	top:320px;
	color:#fff;
	font-size:55px;
	font-weight:600;
	letter-spacing:-3px;
	margin:0;
	padding:0;
	text-transform:uppercase;
	text-shadow:0 2px 6px #222;
}

#mainbody h2 {
	position:absolute;
	left:30px;
	top:380px;
	color:#fff;
	font-size:65px;
	font-weight:600;
	letter-spacing:-1px;
	margin:0;
	padding:0;
	text-transform:uppercase;
	text-shadow:0 2px 6px #222;
}

#mainbody {
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:500px;
	margin:0;
	padding:0;
	background:#fff;
	background-image:url('../images/noey_bg.jpg');
	overflow:hidden;
}

#main {margin:50px 0px 0px 60px; width:365px; min-height:70px; background:#fdfdfd;}

#leaderboard {
	display:block;
	float:left;
	clear:both;
	margin:0 0 40px 0;
	padding:40px 0 0 30px;
	background:#fff;
	overflow:hidden;
}

#leaderboard h1 {
	color:#222;
	border-bottom:2px solid #222;
	font-size:35px;
	font-weight:300;
	line-height:37px;
	letter-spacing:3px;
	margin:0;
	padding:0 30px 3px 30px;
	text-transform:uppercase;
}


#bottom {
	display:block;
	width:950px;
	height:100px;
	margin:0px auto 30px;
	padding:0px;
	background-color:#fff;
	overflow:hidden;
}

#bottom ul {
	text-align:right;
}

#bottom ul li {
	display: inline;
	list-style-type: none;
	font-size:12px;
	padding:0px 10px 15px 10px;
	letter-spacing:2px;
}

#bottom a {
	color:#555;
	font-size:12px;
	margin:0;
	padding:0;
	letter-spacing:2px;
}

#bottom a:link, #bottom a:visited {
	color: #555;
	font-size:12px;
	font-weight:600;
	letter-spacing:2px;
	text-decoration: none;
}

#bottom a:hover	{
	color:#222;
	text-decoration: underline;
}


#footer {float:left;margin-top:0px;margin-bottom:0px;padding:0px;border:0px solid #bbb;width:900px;height:1px;}

a.menushadow:hover {
	box-shadow: rgba(0,0,0,0.40) 0 0 8px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 0 0 8px;
	-moz-box-shadow: rgba(0,0,0,0.40) 0 0 8px;
}

.shadow {
	box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
	-moz-box-shadow: rgba(0,0,0,0.40) 0 1px 6px;
}

.gradient {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#fef8f6));
	background-image: -moz-linear-gradient(100% 100% 90deg, #fef8f6, #fdfdfd);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd,endColorstr=#d9d9d9)"; /* IE8 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd,endColorstr=#fef8f6); /* older IEs */
	background-image: -o-linear-gradient(top, #fdfdfd 0%, #fef8f6 100%); /* Opera */
}


/* Individual Pages */

/* Page - About */

#page_about {
	display:block;
	float:left;
	clear:both;
	width:950px;
	min-height:400px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:#fff;
	overflow:hidden;
}

#page_about a {
	color:#555;
	font-size:inherit;
	margin:0;
	padding:0;
	letter-spacing:2px;
}

#page_about a:link, #page_contact a:visited {
	color: #555;
	font-size:inherit;
	letter-spacing:2px;
	text-decoration: none;
}

#page_about a:hover	{
	color:#222;
	text-decoration: underline;
}

#page_about .image_left {
	display:inline-block;
	width:500px;
	min-height:300px;
	margin:0 0 0 30px;
	padding:0;
}

#page_about .image_left img {
	border:1px solid #222;
	display:block;
	float:left;
	clear:both;
	margin:0;
	padding:0;
}

#page_about .image_left h5 {
	display:block;
	float:left;
	clear:left;
	color:#222;
	font-size:11px;
	font-style:italic;
	font-weight:600;
	letter-spacing:1px;
	margin:5px 0 0 10px;
	padding:0 0 0 0;
	text-align:left;
}

#page_about .info {
	display:inline-block;
	color:#222;
	font-size:14px;
	font-weight:400;
	line-height:16px;
	text-align:justify;
	width:350px;
	min-height:300px;
	margin:0 0 0 20px;
	padding:0;
	background:#fff;
}

#page_about .info p {
	display:block;
	color:#222;
	font-size:14px;
	font-weight:400;
	line-height:16px;
	text-align:justify;
	width:350px;
	min-height:300px;
	margin:0;
	padding:0;
	background:#fff;
}


#page_about h1 {
	color:#222;
	border-bottom:2px solid #222;
	font-size:35px;
	font-weight:300;
	letter-spacing:2px;
	margin:0;
	padding:0 30px 0 30px;
	text-transform:uppercase;
}


/* Page - Menu */

#page_menu {
	display:block;
	float:left;
	clear:both;
	width:950px;
	min-height:400px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:#fff;
	overflow:hidden;
}


#page_menu ul {
	display:block;
	float:left;
	width:100%;
	min-height:300px;
	clear:both;
	margin:0 0 10px 0;
	padding:0;
}

#page_menu ul li {
	display:inline-block;
	float:left;
	list-style-type:none;
	color:#333;
	font-size:12px;
	font-weight:600;
	width:165px;
	min-height:250px;
	line-height:14px;
	margin:0 0 0 20px;
	padding:0px 0px 0px 0px;
	letter-spacing:1px;
	background:#fff;
}

#page_menu li h3 {
	color:#555;
	font-size:16px;
	font-weight:400;
	letter-spacing:0px;
	text-align:center;
	margin:3px 0 0 0;
	padding:0;
}

#page_menu li h4 {
	color:#000;
	font-size:11px;
	font-weight:700;
	letter-spacing:0px;
	text-align:center;
	margin:185px 0 0 0;
	padding:0;
	text-transform:uppercase;
}
#page_menu li p {
	text-align:justify;
	width:165px;
	height:85px;
	margin:5px 0 0 0;
	padding:0;
}

#page_menu ul li.banana {
	background-image: url('../images/menu_banana2.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#page_menu ul li.peach {
	background-image: url('../images/menu_peach2.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#page_menu ul li.churro {
	background-image: url('../images/menu_churro2.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#page_menu ul li.mocha {
	background-image: url('../images/menu_mocha2.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
}

#page_menu ul li.meyer-lemon {
	background-image: url('../images/menu_meyer_lemon2.jpg');
	background-repeat:no-repeat;
	background-position:0px 9px;
}

#page_menu h6 {
	display:block;
	float:left;
	clear:both;
	width:100%;
	color:#222;
	font-size:12px;
	font-weight:300;
	letter-spacing:2px;
	margin:30px 0 0px 0;
	padding:0 0 0 0;
	text-align:center;
}

/* Page - Contact */

#page_contact {
	display:block;
	float:left;
	clear:both;
	width:950px;
	min-height:400px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:#fff;
	overflow:hidden;
}

#page_contact h1 {
	display:block;
	float:left;
	clear:both;
	width:100%;
	color:#222;
	font-size:55px;
	font-weight:300;
	letter-spacing:2px;
	margin:50px 0 50px 0;
	padding:0 0 0 0;
	text-align:center;
	text-transform:uppercase;
}

#page_contact h3 {
	display:block;
	float:left;
	clear:both;
	width:100%;
	color:#222;
	font-size:20px;
	font-weight:300;
	letter-spacing:2px;
	margin:20px 0 0px 0;
	padding:0 0 0 0;
	text-align:center;
	text-transform:uppercase;
}

#page_contact h5 {
	display:block;
	float:left;
	clear:both;
	width:100%;
	color:#222;
	font-size:12px;
	font-weight:400;
	letter-spacing:2px;
	margin:20px 0 0px 0;
	padding:0 0 0 0;
	text-align:center;
	text-transform:uppercase;
}

#page_contact a {
	color:#555;
	font-size:inherit;
	margin:0;
	padding:0;
	letter-spacing:2px;
}

#page_contact a:link, #page_contact a:visited {
	color: #555;
	font-size:inherit;
	letter-spacing:2px;
	text-decoration: none;
}

#page_contact a:hover	{
	color:#222;
	text-decoration: underline;
}

/* Page Gallery */

#page_gallery {
	display:block;
	float:left;
	clear:both;
	width:820px;
	min-height:400px;
	margin:0 0 0 0;
	padding:0px 70px 0 50px;
	background:#fff;
	overflow:hidden;
}

#page_gallery a.group1 {
	width:102px;
	height:102px;
}

/* Photos sections */
.thumbs100px {display:block; margin:0px 0px 30px 30px;}
.thumbs100px img {border:1px solid #333;padding:0px;margin:4px;display:inline;}
.shadow_tn img {
	box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
	-webkit-box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
	-moz-box-shadow: rgba(0,0,0,0.40) 2px 2px 4px;
}