
.buttonArea{
    float: left;
    left: 50%;
    position: relative;            
    top: 10px;
	margin-top: 0;	
}                     
.buttonCon{  
    float: left;
    left: -50%;
    position: relative;        
}
.buttonCon .theButton {
	display: block;
	color: #B22222;
	width: 20px;
	height: 22px;
	background: url(../images/circlebutton.png) no-repeat;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	float: left;
}
.buttonArea a.active {
	background-position: 0 -22px;
}             

.arrowButton{    
	cursor: pointer;  
}            
.arrowButton .prevArrow{
	background: url(../images/prev.png) no-repeat; 
	width: 40px;
	height: 80px;      
	position: absolute;
	top: 170px;	 
	left: 12px;        
} 
.arrowButton .nextArrow{                 
	background: url(../images/next.png) no-repeat;
	width: 40px;
	height: 80px;
	position: absolute;
	top: 170px;
	right: 12px;	          
}   

.animate0{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}         

.animate1{
   	-webkit-animation-duration: 1.4s;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1.4s;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1.4s;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1.4s;
	animation-delay: .6s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
} 

.animate2{
   	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 1.3s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1.5s;
	-moz-animation-delay: 1.3s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1.5s;
	-ms-animation-delay: 1.3s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1.5s;
	animation-delay: 1.3s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
} 

.animate3{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .6s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}   

.animate4{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .8s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .8s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .8s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}  

.animate5{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}    
.animate6{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 1.2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 1.2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 1.2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 1.2s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}    
.animate7{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 1s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}

.animate8{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 2.8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 2.8s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 2.8s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 2.8s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}
.animate9{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 4.8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 4.8s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 4.8s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 4.8s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}
.animate10{
   	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: 6s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: 6s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: 6s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}



/* Main jSlide Class */


.jSlide{
	width: 950px;
	height: 500px;   
	background: transparent;    
	position: relative;
	overflow: hidden;
}   

#mainbody .jSlide_item{
	position: absolute;
	width: 950px;
	height: 500px;  
	overflow: hidden;  
	display: none;
}         

                      
#mainbody .jSlide_item span{
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}                                                                                              

#mainbody .jSlide_item a{
	text-decoration: none;
	color: #B22222;
}
              


#mainbody .jSlide_item span.slide1Txt1{ 
  	position: relative;
	float: left;
	margin: 35% 0 0 1%;
	padding: 0;
	color:#fff;
	font-size:55px;
	font-weight:600;
	letter-spacing:-3px;
	line-height:57px;
	text-transform:uppercase;
	text-shadow:0 2px 6px #222;            
}
 
#mainbody .jSlide_item span.slide1Txt2{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 6px 2% 0 4%;
	padding: 0;
	color:#fff;
	font-size:65px;
	font-weight:600;
	letter-spacing:-1px;
	line-height:67px;
	text-transform:uppercase;
	text-shadow:0 2px 6px #222;
}   
    
                    
  

#mainbody .jSlide_item img.bigImage{ 
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;

}

#mainbody .jSlide_item span.slide2Txt1{ 
  	position: relative;
	float: left;
	margin: 10% 0 0 40%;
	color: #9ACD32;	
	font-size: 24px;  
	background: #FFFFFF;
	padding: 8px;             
}
 
#mainbody .jSlide_item span.slide2Txt2{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 12px 0 0 40%;
	color: #666666;	
	font-size: 12px;  
	background: #FFFFFF;
	padding: 8px;             
}  

#mainbody .jSlide_item span.slide3Txt1{ 
  	position: relative;
	float: left;
	margin: 21% 0 0 80%;
	color: #777;	
	font-size: 18px;
	font-weight:600;
	background: #fff;
	padding: 8px;       
}
 
#mainbody .jSlide_item span.slide3Txt2{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 12px 0 0 80%;
	color: #777;	
	font-size: 18px;
	font-weight:600; 
	background: #fff;
	padding: 8px;             
}  

#mainbody .jSlide_item span.slide3Txt3{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 12px 0 0 80%;
	color: #fe5397;	
	font-size: 42px;
	font-weight:700;
	background: #fff;
	padding: 8px;             
